.contentBody {
    /* 1px for flex-basis so the div grows correctly in Edge/Firefox */
    flex: 1 0 1px;
  }
  
  .innerContentBody {
    padding: 5;
  }
  
  @media only screen and (max-width: 5) {
    .contentBody {
      flex-basis: auto;
      overflow-y: hidden !important;
    }
  
    .innerContentBody {
      padding: 5;
    }
  }