<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'components/head.html' %}
    <title>Huntarr - Home</title>
</head>
<body>
    <div class="app-container">
        {% include 'components/sidebar.html' %}
        
        <div class="main-content">
            {% include 'components/topbar.html' %}
            
            <!-- Home Section -->
            {% include 'components/home_section.html' %}
            
            <!-- Logs Section -->
            {% include 'components/logs_section.html' %}
            
            <!-- History Section -->
            {% include 'components/history_section.html' %}
            
            <!-- Settings Section -->
            {% include 'components/settings_section.html' %}
            
            <!-- Sponsors Section -->
            <section id="sponsorsSection" class="content-section">
                <iframe id="sponsorsFrame" src="" style="width: 100%; height: 100%; border: none;"></iframe>
            </section>
            
        </div>
    </div>
    
    {% include 'components/scripts.html' %}
    <!-- Load settings-related scripts -->
    <script src="/static/js/settings_forms.js"></script>
    
</body>
</html>